@import "../zz_partials/fonts";
@import "../zz_partials/functions";
@import "../zz_partials/variables";
@import "../zz_partials/mixins";

body{

//  overflow: hidden;
}

#navabar-top {
  .pale-pink {
    background-color: #ffb6c1;

  }

  a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Roboto';

    // background-color:#f4511e;

    border-bottom: 1px solid transparentize(#fefefe, 1);
    transition: border-bottom .5s;
    transition-timing-function: ease-in-out;

    &:hover {
      $base-color: #f4511e;
      border-bottom: 1px solid opacify(#fefefe, 0.5);

      //   color:#f4511e;

      color: blue;

    }

  }




}


#sidebar-top {

  a{
    font-family: 'Roboto';

  }
  .pale-pink {
    background-color: #ffb6c1;

  }
  .sidebar{
    left:-250px;

    width:250px;
    height: 100%;
    transition: .5s ease-in;
  }

  .active{
    left:0;
  }

  ul {

    margin:0;
    padding: 0px 0;
  }

  li{

    list-style: none;
    text-align: center;
  }

  a{
    color:#fff;
    padding: 10px 20px;
    display: block;
    text-decoration:  none;
    border-bottom: 1px solid rgba(0,0,0,.2);


  }

  .SideBarButton{
    position: absolute;
    top:0;
    right:-50px;
    width:50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
   // background: #f5f5f5;
    border: none;
    outline: none;
  }

  .SideBarButton span{
     display: block;
    width: 35px;
    height: 3px;

    position: absolute;
    top:24px;
    background: white;
    transition: .3s;


  }

  .SideBarButton span:before{
    content: '';

    position: absolute;
    top:-10px;
    left:0;
    width:100%;
    height: 3px;
    background: white;
    transition: .3s;



  }

  .SideBarButton span:after{
    content: '';

    position: absolute;
    top: 10px;
    left:0;
    width:100%;
    height: 3px;
    background: white;
    transition: .3s;



  }

  .SideBarButton.toggle span{

   background: transparent;

  }

  .SideBarButton.toggle span:before{
    top:0;
    transform: rotate(45deg);

  }

  .SideBarButton.toggle span:after{
    top:0;
    transform: rotate(-45deg);

  }




}

#sidebar-nav-menu{

  .pale-pink {
    background-color: #ffb6c1;

  }

  .SideBarButton{
    position: absolute;


    width:50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    // background: #f5f5f5;
    border: none;
    outline: none;
  }

  .SideBarButton span{
    display: block;
    width: 35px;
    height: 3px;

    position: absolute;
    top:24px;
    background: white;
    transition: .3s;


  }

  .SideBarButton span:before{
    content: '';

    position: absolute;
    top:-10px;
    left:0;
    width:100%;
    height: 3px;
    background: white;
    transition: .3s;



  }

  .SideBarButton span:after{
    content: '';

    position: absolute;
    top: 10px;
    left:0;
    width:100%;
    height: 3px;
    background: white;
    transition: .3s;



  }

  .SideBarButton.toggle span{

    background: transparent;

  }

  .SideBarButton.toggle span:before{
    top:0;
    transform: rotate(45deg);

  }

  .SideBarButton.toggle span:after{
    top:0;
    transform: rotate(-45deg);

  }

  .navbar-brand
  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .hamberger-menu
  {
    position: absolute;

    transform: translateX(-50%);
    margin-left: 3%;

    //transform: translateY(-50%);
  }


  .logo-background{
    background-color: #ffb6c1;
  }

  .circle-bg{

   margin: 20px;
  }

}



