

@import 'compass';


#TestCase{
    width: 100%;
    height: 500px;

    color: red;

    .intro {

        width: 100%;
        height: 500px;
        color: yellow;
        @include border-radius(20px);


        @include background-image(linear-gradient(white, red));

    }
    
}



 